body {
	margin: 0; padding: 0;
	font: 11px Arial, Helvetica, sans-serif;
	background-color: #252525;
	background:#252525 url(../images/body_bg2.gif) repeat-x;
}

.clearfix:after {
  content:" ";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
 * html .clearfix {height:1px;}

img { border:0px; }
a{text-decoration:none; color:#333333; }
a:hover{text-decoration:none; color:#333333; }
.baselink{text-decoration:none; color:#333333; }
.baselink:hover{text-decoration:underline; color:#000; }
textarea,input {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:3px 0px 0px 3px;
	font-size:12px;
}
input {
height:18px;
}
select {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	border:1px solid #CCCCCC;
	height:25px;
	padding:2px 2px 0px 2px;
	font-size:12px;
}
fieldset{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	border:1px solid #CCCCCC;
}

h1{color:#777777;}

.default_select{
	background-color:#ffffff;
	color:#000000;
}

/*button --------------------------*/
#uploadImg{height:25px;}
.buttonA {
	cursor:pointer; 
	padding:4px 5px 0px 25px;
	height:30px;
	font-size:12px;
	color:#252525;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin-left:10px;
}
.buttonA:hover {
	color:#000;	
}
.bgwghite{background-color:#FFF;}
.buttonLink {
	cursor:pointer; 
	padding:4px 5px 2px 25px;
	height:20px;
	font-size:12px;
	color:#FFF;
	margin-left:3px;
}
.buttonLink:hover {
	color:#999;
}
.buttonLink2 {
	cursor:pointer; 
	padding:4px 5px 2px 25px;
	height:20px;
	font-size:12px;
	color:#252525;
	border:1px solid #999999;
	width:35px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin-left:5px;
}
.buttonLink2:hover {
	color:#FFF;
	border:1px solid #252525;
	background-color:#999999;
}
.buttonLink3 {
	cursor:pointer; 
	padding:4px 5px 2px 20px;
	height:20px;
	font-size:12px;
	color:#FFF;
	margin-left:3px;
}
.buttonLink3:hover {
	color:#999;
}
.buttonDiv {
	cursor:pointer; 
	padding:4px 5px 0px 25px;
	height:20px;
	font-size:12px;
	color:#252525;
	border:1px solid #999999;
	width:35px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin-left:10px;
}
.buttonDiv:hover {
	color:#FFF;
	border:1px solid #252525;
	background-color:#999999;
}
.buttonForm {
	cursor:pointer; 
	padding:0px 5px 5px 25px;
	height:30px;
	font-size:12px;
	color:#252525;
	border:1px solid #999999;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin-left:10px;
}
.buttonForm:hover {
	color:#FFF;
	border:1px solid #252525;
	background-color:#999999;
}
.button_home{ background:#cccccc url(../images/icons/house.png) no-repeat scroll 4px 6px;}
.button_tab{ background:#cccccc url(../images/icons/tab.png) no-repeat scroll 4px 6px;}
.button_menus{ background:#cccccc url(../images/icons/chart_organisation.png) no-repeat scroll 4px 6px;}
.button_addmenu{ background:#cccccc url(../images/icons/chart_organisation_add.png) no-repeat scroll 4px 6px;}
.button_pages{ background:#cccccc url(../images/icons/layout.png) no-repeat scroll 4px 6px;}
.button_pages2{ background:#cccccc url(../images/icons/page_green.png) no-repeat scroll 4px 6px;}
.button_pages3{ background:#cccccc url(../images/icons/page.png) no-repeat scroll 4px 6px;}
.button_pages4{ background:#cccccc url(../images/icons/layout_content.png) no-repeat scroll 4px 6px;}
.button_pages5{ background:#cccccc url(../images/icons/layout_header.png) no-repeat scroll 4px 6px;}
.button_pages6{ background:#cccccc url(../images/icons/layout_sidebar.png) no-repeat scroll 4px 6px;}
.button_newpage{ background:#cccccc url(../images/icons/layout_add.png) no-repeat scroll 4px 6px;}
.button_lockedit{ background:#cccccc url(../images/icons/lock_edit.png) no-repeat scroll 4px 6px;}
.button_box{ background:#cccccc url(../images/icons/box.png) no-repeat scroll 4px 6px;}
.button_package{ background:#cccccc url(../images/icons/package.png) no-repeat scroll 4px 6px;}
.button_package_green{ background:#cccccc url(../images/icons/package_green.png) no-repeat scroll 4px 6px;}
.button_email{ background:#cccccc url(../images/icons/email.png) no-repeat scroll 4px 6px;}
.button_email_open{ background:#cccccc url(../images/icons/email_open.png) no-repeat scroll 4px 6px;}
.button_euro{ background:#cccccc url(../images/icons/money_euro.png) no-repeat scroll 4px 6px;}
.button_telephone{ background:#cccccc url(../images/icons/telephone.png) no-repeat scroll 4px 6px;}
.button_basket{ background:#cccccc url(../images/icons/basket.png) no-repeat scroll 4px 6px;}
.button_report{ background:#cccccc url(../images/icons/report.png) no-repeat scroll 4px 6px;}
.button_report_user{ background:#cccccc url(../images/icons/report_user.png) no-repeat scroll 4px 6px;}
.button_save{ background:#cccccc url(../images/icons/disk.png) no-repeat scroll 4px 6px;}
.button_view_a{ background:transparent url(../images/icons/zoom.png) no-repeat scroll 4px 6px;}
.button_login{ background:#cccccc url(../images/icons/door_in.png) no-repeat scroll 4px 6px;}
.button_logout{ background:#cccccc url(../images/icons/door_out.png) no-repeat scroll 4px 6px;}
.button_user{ background:#cccccc url(../images/icons/user.png) no-repeat scroll 4px 6px;}

.button_pagesettings{ background:#cccccc url(../images/icons/cog_edit.png) no-repeat scroll 4px 6px;}
.button_settings{ background:#cccccc url(../images/icons/cog.png) no-repeat scroll 4px 6px;}
.button_settings2{ background:#cccccc url(../images/icons/wrench_orange.png) no-repeat scroll 4px 6px;}
.button_frontpage{ background:#cccccc url(../images/icons/page_world.png) no-repeat scroll 4px 6px;}
.button_website{ background:#cccccc url(../images/icons/world.png) no-repeat scroll 4px 6px;}
.button_admin{ background:#cccccc url(../images/icons/user_gray.png) no-repeat scroll 4px 6px;}
.button_module{ background:#cccccc url(../images/icons/package.png) no-repeat scroll 4px 6px;}
.button_add{ background:#cccccc url(../images/icons/add.png) no-repeat scroll 4px 6px;}
.button_lihatdata{ background:#cccccc url(../images/icons/layout.png) no-repeat scroll 4px 6px;}
.button_ubahdata{ background:#cccccc url(../images/icons/layout_edit.png) no-repeat scroll 4px 6px;}
.button_ok{ background:#cccccc url(../images/icons/accept.png) no-repeat scroll 4px 6px;}
.button_ubah{ background:#cccccc url(../images/icons/accept.png) no-repeat scroll 4px 6px;}
.button_kembali{ background:#cccccc url(../images/icons/arrow_undo.png) no-repeat scroll 4px 6px;}

.button_batal{ background:#cccccc url(../images/icons/cross.png) no-repeat scroll 4px 6px;}
.button_reset{ background:#cccccc url(../images/icons/arrow_refresh.png) no-repeat scroll 4px 6px;}
.button_cari{ background:#cccccc url(../images/icons/zoom.png) no-repeat scroll 4px 6px;}
.button_hapus{ background:#cccccc url(../images/icons/delete.png) no-repeat scroll 4px 6px;}

.button_upload_gambar{ background:#cccccc url(../images/icons/picture_go.png) no-repeat scroll 4px 6px; width:90px;}
/*--button Link*/
.button_backL{ background:transparent url(../images/icons/arrow_undo.png) no-repeat scroll 4px 3px;}
.button_okL{ background:#cccccc url(../images/icons/accept.png) no-repeat scroll 4px 3px;}
.button_searchL{ background:#ccc url(../images/icons/zoom.png) no-repeat scroll 4px 3px;}
.button_addL{ background: url(../images/icons/add.png) no-repeat scroll 4px 3px;}
.button_resetL{ background:#cccccc url(../images/icons/arrow_refresh.png) no-repeat scroll 4px 3px;}
.button_deleteL{ background:#cccccc url(../images/icons/delete.png) no-repeat scroll 4px 3px;}
.button_upL{ background:transparent url(../images/icons/arrow_up.png) no-repeat scroll 4px 3px;}
.button_downL{ background:transparent url(../images/icons/arrow_down.png) no-repeat scroll 4px 3px;}

.button_email_openL{ background:transparent url(../images/icons/email_open.png) no-repeat scroll 4px 3px;}
.button_euroL{ background:transparent url(../images/icons/money_euro.png) no-repeat scroll 4px 3px;}
.button_package_greenL{ background:transparent url(../images/icons/package_green.png) no-repeat scroll 4px 3px;}
.button_packageL{ background:transparent url(../images/icons/package.png) no-repeat scroll 4px 3px;}
.button_userL{ background:transparent url(../images/icons/user.png) no-repeat scroll 4px 3px;}
.button_reportL{ background:transparent url(../images/icons/report.png) no-repeat scroll 4px 3px;}
/*button --------------------------*/


/*pagination*/
#bottom-nav { clear: both; display: block; height: 40px; margin: 10px 18px; * height: 60px; }
.pagebar {
	display: block;
	/*float: left;*/
	padding: 0;
	* padding: 10px 0;
	margin: 10px 0;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 30px;
	
}
.pagebar a, .pageList .this-page, .pagebar a:visited {
	display: inline;
	margin: 0;
	padding: 6px 10px;
	text-decoration: none;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border:1px solid #d8d8d8;
}
.pagebar .break {
	display: inline;
	margin: 0 4px 0 0;
	padding: 6px 10px;
	text-decoration: none;
	background: #fff;
	color: #777;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.pagebar .this-page {
	display: inline;
	margin: 0;
	padding: 6px 10px;
	background: #beb6b6;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border:1px solid #d8d8d8;
}
.pagebar a:hover {
	background-color: #f4dc6e;
} 
/*table*/
.trtable{background-color:#FFD44A; height:25px; border-bottom:#999999 solid 1px;}
.trtable td{padding:2px 5px;	font-weight:bold; border-bottom:#999999 solid 1px;}
.trtable2 td{padding:5px 5px;border-bottom:1px dashed #d8d8d8;}
.trtable2:hover{background-color:#D7EDFF;}
.trtable2b td{padding:5px 5px;}
.trtable2b:hover{background-color:#D7EDFF;}
.Tlink{color:#252525;}
.Tlink:hover{color:red;}
.Tlink2{color:#FFF;}
.Tlink2:hover{color:#999;}
/*main css*/
#header {
	color: #fff;	
}

#PageContent{color:#444444;  }
#PageContent_main{padding:20px 0px; color:#FFF;  background: #252525 url(../images/body_bg.jpg); min-height:380px;}
#foot{background:#252525; text-align:right; padding:10px; color:#FFFFFF; font-size:10px;}
#foot3{ height:15px;}
#foot1{background:#FFFFFF; height:7px;}
#foot2{background:#252525; height:2px; border-bottom:1px solid #ffffff;}
#head2{background:#FFFFFF; height:3px; border-bottom:2px solid #999999;}
/*loading*/
#loading_on {
	width:250px; min-height:30px;
	background: url(../images/ajax-loader5.gif) no-repeat center 10px;
	padding:45px 10px 10px 10px;	
	display:none;
}
.loading_off {
	width:250px; min-height:30px;
	padding:45px 10px 10px 10px;	
	display:none;
}

#username,#password{width:200px;}
#login_area .login_button {
	padding:0px 20px 20px 10px; text-align:right;
}
#login_area .table_content_left {
	padding: 10px 0 0 20px; width:80px;
}
#login_area .table_content_right {
	padding: 10px 20px 0 2px
}
.title_message{
	color:red; padding:3px; border:solid 1px #d8d8d8; background-color:#F0FFF2; 
	text-align:left;
	padding:10px; font-size:12px;
}
.title_message2{
	background: url(../images/ajax-loader5.gif) no-repeat 10px 5px;padding:10px 10px 10px 40px;
	color:red; border:solid 1px #d8d8d8; background-color:#FFFFFF; 
	text-align:left;
	font-size:12px;
}
#main_content_login {
	width: 350px;
	text-align: left;
	background: #fff;
	padding:5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#main_content {
	width: 90%;
	min-height: 350px;
	text-align: left;
	background: #fff;
	padding:20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#main_content td{
	vertical-align:top;
	text-align:left;
	padding:5px;
}
#main_content .center{text-align:center;}
#main_content .right{text-align:right;}
#main_content .left{text-align:left;}
#tblwMce td{
	padding:5px;
}
#tblwMce .pad0px td{padding:0px;}
.headerLogo{padding:10px 10px 10px 20px;}
.paddingUPLogin{padding-top:50px;}
.dash_preview{ width:215px;margin:0px 0px 11px 11px;float:left;}
.dash_content_login{padding:4px 5px; text-align:left;min-height:150px;border:1px solid #d8d8d8;}
.dash_content_login:hover{background-color:#DFF3FF}
.dash_title{padding:8px 10px 5px 30px; text-align:left; font-weight:bold;background-color:#252525;color:#fff}
.dash_titleR{padding:8px 10px 5px 0px; text-align:left; font-weight:bold;background-color:#252525;color:#fff}
.dash_title select{
	border:0px solid #CCCCCC;
	height:16px;
	padding:0px;
	font-size:11px;
	margin:0px;
}
.dash_title_head{
	background-color:#252525;
	width:100%;
}
.dash_content{padding:4px 5px; text-align:left;min-height:120px;border:1px solid #d8d8d8;}
.dash_content:hover{background-color:#DFF3FF}
.dash_content div{min-height:15px; padding:2px 5px;}
.dash_content div:hover{background-color:#FFF;}
.dash_content_a {padding:8px 10px 5px 30px; text-align:left; font-weight:bold; height:25px; background-color:transparent;color:#252525;}
.dash_content_color{padding:20px; }
.dash_content_color form div.CCleft{width:45%;float:left; }
.dash_content_color form div.CCright{width:40%;float:right; }

.bold{font-weight:bold;vertical-align:top;}
.hideit{display:none;}
.fleft{float:left;}
.fright{float:right;}
.clearall{clear:both;}
.txtred{color:red; }
.txtgreen{color:green; }
.valid{border-bottom:1px solid green !important;}
.invalid{border-bottom:1px solid #800 !important;}

.w150px{width:150px;}
.w100px{width:100px;}
.w10px{width:10px;}
.errortxt{
display:none;
padding:5px 5px 5px 25px;
color:#FF0000;
border:1px solid #FF0000;
background:#FEADB7 url(../images/icons/exclamation.png) no-repeat scroll 4px 4px;
width:400px;
font-weight:bold;
}
.confirmtxt{
display:none;
padding:5px 5px 5px 25px;
color:#126D00;
border:1px solid #126D00;
background:#D0F6C1 url(../images/icons/accept.png) no-repeat scroll 4px 4px;
width:400px;
font-weight:bold;
}
.webdate{padding:20px;font-weight:bold;}
.layout_template{
	width:100px;
	opacity:0.5;
}
.tmpt_selected{
	width:150px;
	opacity:1;
}
.pointer{cursor:pointer;}
.errortxt2{
display:none;
padding:5px 5px 5px 25px;
color:#FF0000;
border:1px solid #FF0000;
background:#FEADB7 url(../images/icons/exclamation.png) no-repeat scroll 4px 4px;
width:400px;
font-weight:bold;
}
.confirmtxt2{
display:none;
padding:5px 5px 5px 25px;
color:#126D00;
border:1px solid #126D00;
background:#D0F6C1 url(../images/icons/accept.png) no-repeat scroll 4px 4px;
width:400px;
font-weight:bold;
}

.button-opt{  border: 1px solid #CCCCCC;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    background-color:#f0f0f0;
    cursor:pointer;
}

.active_btn{
    background-color: #D7EDFF !important;
}