/*##########################################
Script: Niceforms 2.0
Theme: StandardBlue
Author: Lucian Slatineanu
URL: http://www.emblematiq.com/
##########################################*/


/*Checkbox*/
.NFCheck {float:left; cursor:pointer; width:12px; height:12px; border:1px solid transparent; background:url(../images/checkbox.png) no-repeat 0 0px; z-index:2;}

/*Focused*/
.NFfocused {border:1px dotted #666;}
/*Hovered*/
.NFh {background-position:0 97%;}
.NFhr {background-position:100% 100%;}
/*Hidden*/
.NFhidden {opacity:0; z-index:-1; position:absolute;}